# Activar RewriteEngine

Options +SymLinksIfOwnerMatch 

RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Desactivar vista de carpetas

Options -Indexes

# Reescribir la URL solicitada por el usuario


RewriteBase /yeus/

RewriteRule ^$ index\.php


RewriteRule blog$  blog\.php
RewriteRule blog/$ blog\.php


RewriteRule articulo/([^/]+)/([^/]+)$ post\.php?id=$1
RewriteRule articulo/([^/]+)/([^/]+)/$ post\.php?id=$1




RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]